body{
    max-width: 800px;
    background-color: #34B59A;
    margin: auto;

}

main{
    max-width: 600px;
    background-color: #E6AD54;
    margin: auto;
    padding: 20px;

}

iframe{
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
    margin: auto;
}

h1{
    font-family: active;
    font-size: 80px;
    color: white;
    margin: auto;
    margin-bottom: 30px;
}

p{
font-family:'Courier New', Courier, monospace;
color: #504266;
font-size: 10px;
} 


@font-face {
    font-family: "active_regular";
    src: url("../website/january_shine.ttf") format("truetype");
}